<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	<head>
		<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}media/css-style.css" />
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif">
		<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/gritter.css" />
		<script type="text/javascript" src="http://www.google.com/jsapi"></script>
		<script type="text/javascript">google.load('jquery', '1.5');</script>
		<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.gritter.js"></script>
		<link rel="shortcut icon" href="{{MEDIA_URL}}/favicon.ico" />
		<title>{%block title%}Prologger | v0.1{%endblock%}</title>

	<style type="text/css">
	{%block css%}
	#main-index {
	overflow:none;
	padding-bottom: 165px;
	padding-top: 180px;
	background-color:none;
	width:840px;
	margin-left:-420px;	
	position: relative;
	left:50%;
	}
	{%endblock%}
	</style>

	</head>

	<body>
SHIIIIIIIIIIIIIIIT. 

<iframe width="560" height="349" src="http://www.youtube.com/embed/EBceFUdhKyM" frameborder="0" allowfullscreen></iframe>


	</body>

</html>
