{% extends "base.html" %}

	{% block title %}
		prologger | v0.2
	{% endblock %}
	{% block header %}
		<div id="main-header-links">
			Hello User! | <a href="http://localhost/">logout</a>
		</div>
		
		<a href="http://localhost/" style="text-decoration: none; border:none">
		<img src="{{MEDIA_URL}}logo-flattened-cropped-small.png">
		</a>

		<table id="main-actionBar">
			<tr>
				<td><a href="{% url home %}">Home</a></td>
				<td><a href="{% url profile %}">Profile</a></td>
				<td><a href="{% url groups %}">Groups</a></td>
				<td><a href="{% url about %}">About</a></td>
				<td><a href="{% url faq %}">FAQ</a></td>
			</tr>
		</table>
		<hr />
	{% endblock %}

	{% block content %}
		Insert content here!
	{% endblock %}

<html>
