{% extends "base.html" %}

	{% block title %}
		prologger | v0.2
	{% endblock %}
	{% block header %}
		<div id="main-header-links">
			Hello User! | <a href="http://localhost/">logout</a>
		</div>
		
		<a href="http://localhost/" style="text-decoration: none; border:none">
		<img src="{{MEDIA_URL}}logo-flattened-cropped-small.png">
		</a>

		<table id="main-actionBar">
			<tr>
				<td><a href="http://localhost/">Home</a></td>
				<td><a href="http://localhost/">Profile</a></td>
				<td><a href="http://localhost/">Groups</a></td>
				<td><a href="http://localhost/">About</a></td>
			</tr>
		</table>
	{% endblock %}

	{% block content %}

			<div id="main-content">
				Main stuff goes here
			</div>
			<div id="main-quickView">
				<div id="main-portrait">
					image goes here
				</div>
				more information here
			</div>
			<div style="clear:both"></div>
	{% endblock %}

<html>
