{% extends "base.html" %}

	{% block title %}
		prologger | v0.2
	{% endblock %}
	{% block header %}
		<div id="main-header-logout">
			Hello User! | <a href="http://localhost/">logout</a>
		</div>

		<table id="main-header-links" align="center">
			<tr>
				<td align="left">
					<a href="{% url home %}" style="text-decoration: none; border:none">
					<img src="{{MEDIA_URL}}logo-flattened-cropped-small.png">
					</a>
				</td>
				<td><a href="{% url home %}">Home</a></td>
				<td><a href="{% url profile %}">Profile</a></td>
				<td><a href="{% url achievements %}">Achievements</a></td>
				<td><a href="{% url groups %}">Groups</a></td>
				<td><a href="{% url about %}">About</a></td>
			</tr>
		</table>
	{% endblock %}

	{% block content %}
			<div id="main-content">
				<h2 style="text-align:left;">User Activity</h2>
			</div>
			<div id="main-quickView">
				<div id="main-portrait">
					<img src="{{MEDIA_URL}}defaultPortrait.png">
				</div>
				
				<table class="padded-table">
					<tr><td>
						<span class="text-label">Username:</span>
							AwesomePossum
					</td></tr>
					<tr><td>
						<span class="text-label">Name:</span>
							Rico Suave
					</td></tr>		
					<tr><td>
						<span class="text-label">Location:</span>
							Awesomeville, MA
					</td></tr>	
				</table>
			</div>
			<div style="clear:both"></div>
	{% endblock %}

	
<html>
