html, body {
	height: 100%;
	font-family:'Droid Serif';
	font-size: 18px;
	text-align:center;
	}

#wrap {
	min-height: 100%;
	background-color:none;
	}
	
#main {
	overflow:auto;
	padding-bottom: 30px;
	background-color:none;
	width:840px;
	margin-left:-420px;	
	position: relative;
	left:50%;
	height:100%;
	min-height: 600px;
	}

#footer {
	position: relative;
	margin-top: -30px; /* negative value of footer height */
	height: 30px;
	clear:both;
	background-color:none;
	color:black;
	font-size: 75%;
	}
	
table.footer-contents  td {
	padding-right:40px;
	padding-left:40px;
	background-color:none;
	position:relative;
	border: 0px solid;
	width:auto;
	vertical-align:top;
}	
	
#header {
	text-align:center;
	padding:15px;
	height:70px;
	margin-bottom:40px;
	border:0px solid black;
	background-color:none;
}

/* logout button bar */
#main-header-logout {
	font-size:75%;
	margin:0px auto;
	padding-right:10px;
	text-align:right;
	background-color:none;
	position:relative;
	border: 0px solid;
}

#main-header-links {
	padding-right:10px;
	font-size:120%;
	background-color:none;
	position:relative;
	border: 0px solid;
	width:840px;
	vertical-align:center;
}


#main-content {
	margin:0px auto;
	text-align:left;
	padding:15px;
	background-color:none;
	position:absolute;
	height:91%;
	width:60%;
	float:right;
	overflow:hidden;
	margin-left:33%;
	border:0px solid black;
}

#main-quickView {
	margin:0px auto;
	text-align:left;
	border:none;
	padding:15px;
	background-color:none;
	position:absolute;
	height:auto;
	width:27%;
	float:right;
	overflow:hidden;
	border:1px solid black;
}

/* portrait for profile page */
#main-portrait {
	width:auto;
	height:250px;
	margin-bottom:20px;
	background-color:none;
	text-align:center;
	}

.gradientV{
/* thanks to http://blog.fakedarren.com/2010/01/cross-browser-css-gradients/ */
/* and http://www.puremango.co.uk/2010/04/css-gradient/ */
/* fallback (Opera) */
background: #89CFF0;
/* Mozilla: */
background: -moz-linear-gradient(top, #c4e5f2, #89CFF0);
/* Chrome, Safari:*/
background: -webkit-gradient(linear,
			left top, left bottom, from(#c4e5f2), to(#89CFF0));
/* MSIE */
filter: progid:DXImageTransform.Microsoft.Gradient(
			StartColorStr='#c4e5f2', EndColorStr='#89CFF0', GradientType=0);
}
  
/* form input */
input.text {
	font-family:helvetica;
	font-size:15pt;
	font-weight:normal;
	background-color:#C0C0C0;
	border-color:grey;
	border-top-style:none;
	border-right-style:none;
	border-left-style:none;
	border-bottom-style:solid;
	border-width:2px;
	color:white; 
}

input.submit {
	font-family:helvetica;
	font-size:15pt;
	font-weight:normal;
	background-color:grey;
	border-color:grey;
	border-top-style:none;
	border-right-style:none;
	border-left-style:none;
	border-bottom-style:none;
	border-width:2px;
	color:white; 
}

/* links */
A:link {text-decoration: none; border: 0px dashed #e74848; color: grey;}
A:visited {text-decoration: none; border: 0px dashed #e74848; color: grey;}
A:active {text-decoration: none; border: 0px dashed #e74848; color: grey;}
A:hover { text-decoration: none; border: 0px solid #e74848; color: red;}

A.footer:link {text-decoration: none; border: none; border-bottom: 1px dashed #e74848; color: white;}
A.footer:visited {text-decoration: none; border: none; border-bottom: 1px dashed #e74848; color: white;}
A.footer:active {text-decoration: none; border: none; border-bottom: 1px dashed #e74848; color: white;}
A.footer:hover { text-decoration: none; border: none; border-bottom: 1px solid #e74848; color: red;}

/* information heading style */
.text-label {
	font-weight:bold;
}

/* profile page informtion table */
table.padded-table td { 
	padding-bottom:10px; 
	}
